server:
  port: 8080

spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/multipedidos_clientes
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true